/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	font: normal normal 400;
	font-size: 10pt;
	line-height: 1.35em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Verdana,sans-serif;
	/*margin-top: 1em;
	margin-left: 1em;*/
}

/* Sets the indentation of job title and description */
:root {
    --left-position: 10%;
	--golden-ratio: 1.618;
}

/* Summary */
p {
    position: relative;
    left: var(--left-position);
    margin-bottom: 0.2em;
    margin-right: 0;
    width: 70%;
}

/* Dates */
code {
    font-weight: bold;
    font-size: 95%;
    font-family: Menlo, monospace, sans-serif;
    color: #000;
}
/* Dates position */
p code {
    position: absolute;
    left: -0%;
}

/* List of stuff in a job */
ul { 
    position: relative;
    left: var(--left-position);
    width: 82%;
	margin-bottom: 1em;
	margin-left: calc(var(--golden-ratio) * 0.0em);
	/*margin-top: -0.5em;*/
}

/*uncomment to get dashes in the list*/
li:before {
	content: "\2023 \0020";
	position: relative;
	left: -0.25em;
}

li {
	/*second line indent*/
	padding-left: 3em;
	text-indent: -0.95em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
	width: 65%;
}


h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: var(--left-position); /* name position */
	margin-top: 1em; /* Add top margin */
	margin-bottom: 0.5em; /* Add top margin */
}

h1+p { 
	/*subtitle*/
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	width: 60%;
}

h2 {
	font-size: 1.1em;
	color: #a00;
	margin-top: 2em;
	margin-bottom: 0em;
	position: relative;
	top: -1.0em;
	bottom: 0.0em;
	left: var(--left-position);
	text-align: left;
	width: 28%;
}


h3 {
	font-size: 1em;
	line-height: 2em; 
	color: #ccc;
	position: relative;
	top: 1.6em;
	text-align: right;
	width: 18%;
	margin-bottom: 2em;
}

a {
	color: #5b9fe3;
	text-decoration: none;
}

a:hover {
	color:rgb(142, 37, 222)
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: var(--left-position);;
	color: #ccc;
	font-family: Menlo,monospace,sans-serif;
	font-size: 90%;
}

#webaddress a {
	text-decoration: none;
}

em {
	font-style: normal;
	color: #2d4e5e 
}

strong {
	font-weight: bold;
}

#ghbutton {
	display: none;
	visibility: hidden;
}




